p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.author,.title{
    display: none;
}
/* Slideshow container styling */
.slideshow-container {
  width: 100%;
  height: 50vh; /* Take up half of the screen */
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  height: 100%;
}

img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.text-container {
  height: 50vh; /* Bottom half of the screen */
  overflow-y: auto; /* Allows scrolling through text if necessary */
  padding: 20px;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Animation for fade effect */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: 0.4 } 
  to { opacity: 1 }
}
